@model IEnumerable<string>
@{ 
    ViewBag.Title = "Home";
}
<div>
    <h1>Hello world!</h1>
    @Html.ActionLink("Test View", "Test")
    @Html.ActionLink("Login", "Login", "Account")
    @Html.ActionLink("Register", "Register", "Account")
</div>
@foreach(var i in Model)
{
    <h3>
        @i
    </h3>
}
