@model IEnumerable<string>
@{
    ViewBag.Title = "Home";
}
<h1 style="text-align:center">WELCOME TO PATENTS OFFICE</h1>
<img src="~/Content/images/patent-sblaw.jpg" width="100%" style="margin: 25px 0;"/>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus, sem nec elementum ultrices, tortor ex mattis eros, 
    efficitur gravida massa dui finibus augue. Integer aliquam leo sit amet nulla ultrices, ut mattis arcu gravida. Nunc 
    imperdiet mauris velit. Ut nec nibh sit amet orci luctus vulputate. Morbi iaculis eget tellus at accumsan. Phasellus 
    molestie pellentesque ligula eget convallis. Quisque venenatis venenatis est, rutrum feugiat purus interdum non. 
    Phasellus sagittis odio non ex posuere dignissim. Nullam fringilla, magna quis varius molestie, augue purus sollicitudin 
    erat, vitae mattis elit mauris id elit. Quisque porttitor sollicitudin risus non eleifend. Cras aliquet diam eu posuere 
    maximus. Quisque eget eros in erat iaculis vulputate ac at nibh. Orci varius natoque penatibus et magnis dis parturient 
    montes, nascetur ridiculus mus. Proin vel condimentum dolor. Vestibulum ut purus id urna tristique hendrerit. Praesent 
    sit amet congue arcu, ac elementum enim.</p>
<p>Morbi auctor nulla at lectus cursus venenatis. Praesent tortor massa, fringilla quis sapien ut, malesuada sagittis dolor. 
    Suspendisse potenti. Aliquam ultrices odio vel elit pharetra lobortis. Suspendisse in elit vel quam lobortis rutrum non 
    vitae lacus. Suspendisse egestas commodo diam in efficitur. Sed sollicitudin viverra iaculis.</p>
<p>Integer et consequat neque. Maecenas pellentesque odio quis lorem tincidunt, a vestibulum libero fermentum. Suspendisse 
    potenti. Quisque consequat, orci sollicitudin iaculis ultrices, lorem nunc vestibulum leo, nec pellentesque nisl libero 
    eu velit. Aliquam vel vestibulum elit, ut sollicitudin nisl. Mauris convallis, justo ac tincidunt tincidunt, dolor velit 
    vestibulum diam, quis sagittis ante quam ut elit. Maecenas non leo ut ex imperdiet varius. Duis aliquet augue tellus, 
    vel laoreet elit semper vitae.</p>